body {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
}

div {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

#posts {
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 2rem;
	width: 60%;
}
